table{
	border-collapse:collapse;
	font-family: sans-serif;
	font-size: 20px;
	width: 700px;
	height: 200px;
	border-bottom:5px solid #69BC8F;
}
th{
	background-color: #69BC8F;
	color: white;
}
.color td{
	background-color: #C5E3D2;
	color: #69BC8F;
}

td{
	text-align: center;
	background-color: #E3F3E9;
}
img{
	height: 180px;
	width: 160px;
}
